<div class="container">
  <div class="oferta" *ngIf="oferta !== undefined">

    <div class="row">
      <div class="col">
        <h4>{{oferta.descricao_oferta}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="img_capa">
          <img [src]="oferta.imagens[0].url" />
        </div>

        <div class="thumbnails">
          <img *ngFor="let img of oferta.imagens" [src]="img.url" />
          
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col text-center">
            <p>Por apenas</p>
          </div>
          
        </div>

        <div class="row">
          <div class="col text-center">
            <h1>R$ {{oferta.valor}}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
          </div>
        </div>
          
      </div>

    </div>

  </div>
  <div class="row pt-3">
    <div class="col">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button routerLink="como-usar"   class="nav-link active" id="como-usar-tab" data-bs-toggle="tab" data-bs-target="#como-usar" type="button" role="tab" aria-controls="como-usar" aria-selected="true">Como usar</button>
        </li>
        <li class="nav-item" role="presentation">
          <button  routerLink="onde-fica" class="nav-link" id="onde-fica-tab" data-bs-toggle="tab" data-bs-target="#onde-fica" type="button" role="tab" aria-controls="onde-fica" aria-selected="false">Onde fica</button>
        </li>
     
      </ul>
      <div class="tab-content" id="myTabContent">
        <router-outlet></router-outlet>
      </div> 
    </div>
  </div>



</div>
